.reservation {
  background: no-repeat #d0e7ff center / cover
    url(../images/background_reservation.svg);
  padding: 100px 0 120px;
}

.reservation__form {
  margin: 0 auto;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 0 0 80px;
  margin: 0 auto;
  text-align: center;
}
